.head{ 
    background-color: rgb(12, 7, 1);
    color: white;
    text-align: left;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.container {
    display: flex;
    background-color: rgb(12, 7, 1);
    flex-wrap: wrap;
    flex-direction: row;
    height: 50px;
}
.box {
    background-color: rgba(121, 56, 52, 0.911);
    box-align: center;
    width: 100px;
    height: 45px;
    margin: 5px;
}
.box1{
    background-color: lightblue;
}
.box2{
    background-color: lightgreen;
}
.box3{
    background-color: lightcoral;
}
.box4{
    background-color: lightgoldenrodyellow;
}
.box5{
    background-color: lightpink;
}