*{
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "header header header"
        "sidebar categorias categorias"
        "sidebar conteudo conteudo"
    ;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 10px;
    background-color: black;

}
.categorias {
   display:none;
   display: flex column;
    gap: 10px;
}
.sidebar {
    display:none;
    display: flex column;
}
.conteudo {
    display: flex wrap;
    gap: 20px;
    flex-direction: column;
}
